@page
@model ProyectoCiclo3.App.Frontend.Pages.FormServicioModel
@{
}
 
<div class="text-center">
<form method="POST">
  <label for="origen" class="form-label">origen</label>
  <input type="text" class="form-control" id="origen" name="origen" placeholder="origen">
  <label for="destino" class="form-label">destino</label>
  <input type="text" class="form-control" id="destino" name="destino" placeholder="destino">
  <label for="fecha" class="form-label">fecha</label>
  <input type="text" class="form-control" id="fecha" name="fecha" placeholder="fecha">
  <label for="hora" class="form-label">hora</label>
  <input type="text" class="form-control" id="hora" name="hora" placeholder="hora">
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>